.DS_Store
node_modules/
*.log

# Exclude all WordPress assets
themes/
plugins/
wp-content/
wp-includes/
wp-admin/
wp-json/
freaklab.org/

# Exclude all images (too large for git)
images/
# But keep just the logo
!images/cropped-FL-logo-w-2.png
